body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
}

/* Universal Box-Sizing for all elements */
*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2  {
    color: #2c3e50;
    margin: 20px 0;
    text-align: center;
    line-height: 1.3;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

/* Title */
#Title {
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}

/* Subtitle */
.subtitle {
    font-size: 1.8em;
    text-decoration: noe;
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #3498db;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Hovering over links */
a:hover {
    color: #2ecc71;
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

li {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

li:hover {
    background-color: #bdc3c7;
    transform: scale(1.02);
}

/* Ingredients and Directions */
section {
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul, ol {
    margin: 10px 0;
    padding: 10px;
}

li, p {
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

.back-link {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-link:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

/* Step List */
ol li {
    background-color: #ecf0f1;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #e74c3c;
}

strong {
    color: #e67e22;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #2c3e50;
    color: #ecf0f1;
}

footer a {
    color: #ecf0f1;
}

footer a:hover {
    color: #bdc3c7;
}